.uber-button{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}
.uber-button:hover{
    opacity: 0.8;
}