input{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    margin-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    border-radius: 8px;
}
.first-name{
    width: 148px;
}
.last-name{
    width: 148px;
}
.Email{
    display: block;
    width: 335px;

}
.github-button{
    background-color:rgb(46, 30, 178);
    color: white;
    border: none;
    font-weight: bold;
    font-size:18px ;
    border-radius: 8px;
    cursor: pointer;
    transition:box-shadow 0.15s ;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 370px ;
}
.github-button:hover{

    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}